@charset "UTF-8";

:root {
  --Blue: #00ade2;
  --Navy: #000046;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-feature-settings: "palt";
  -webkit-font-feature-settings: "palt";
  color: var(--Navy);
  text-align: justify;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*:focus {
  outline: none;
}

h1, h2, h3 {
  font-weight: bold;
  line-height: 150%;
}
button {
  border-radius: 5rem;
}
button a {
  display: inline-block;
  background: red;
  color: #fff;
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
  border-radius: 200vh;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: clamp(1.1rem, 3vw, 1.4rem);
  line-height: 130%;
  box-shadow: 0px 8px #C1272D;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  letter-spacing: 3px;
}
button.keepBtn a {
  background: #00ade2;
  box-shadow: 0px 8px #0082CC;
}
button img {
  max-height: 45px;
}
a:hover {
  opacity: 0.5;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
button a:hover,
.fixedButton a:hover {
  opacity: 1;
}
button a:hover {
  box-shadow: none !important;
  transform: scale(0.99, 0.99) translateY(5px);
}

@media screen and (max-width: 767px) {
  button a {
    box-shadow: 0px 6px #C1272D;
  }
  button.keepBtn a {
    box-shadow: 0px 6px #0082CC;
  }
  button img {
    max-height: 35px;
  }
}

.smallTxt {
  line-height: 140%;
}
small {
  font-size: 85%;
}

@media screen and (max-width: 767px) {
  .pc {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

main {
  margin: auto;
  width: clamp(150px, 90%, 1000px);
  font-size: clamp(0.95rem, 3vw, 1.1rem);
  line-height: 170%;
  padding-top: clamp(1rem, 6vw, 3rem);
  padding-bottom: clamp(2rem, 7vw, 4rem);
}
main * {
  max-width: 100%;
  margin: auto;
}

main header {
  margin: 0 auto 1rem;
}
main figure {
  margin: 0 auto 1rem;
}
@media screen and (max-width: 767px) {
  main figure {
    text-align: center;
  }
}
main figure img {
  width: 100%;
}
main figure img + img {
  margin-top: clamp(2rem, 5vw, 3rem);
}
main figcaption {
  line-height: 200%;
  padding: 2rem 3rem;
  border-radius: 30px;
  margin: 2rem 0 3rem;
}
@media screen and (max-width: 767px) {
  main figcaption {
    width: 90%;
    margin: 1.5rem auto 2rem;
    padding: 1.25rem 1.25rem;
    line-height: 170%;
    border-radius: 20px;
  }
}
main h1 {
  font-size: clamp(1.8rem, 4.7vw, 2.5rem);
  padding: 0.5rem 0rem;
  margin: clamp(1.5rem, 5vw, 3rem) auto 1rem;
}
main h2 {
  font-size: clamp(1.6rem, 4.5vw, 2.3rem);
  padding: 0.5rem 0rem;
  margin: 2rem auto 1rem;
}
@media screen and (max-width: 767px) {
  main h2 {
    margin: 1rem auto 0.5rem;
  }
}
main h4 {
  font-size: clamp(1.1rem, 3.5vw, 1.5rem);
  margin: 2rem auto 1rem;
}
main section:not(:last-child) {
  margin-bottom: clamp(2rem, 5vw, 3.5rem);
}
main p {
  margin-bottom: 1rem;
}
main iframe {
  display: block;
  margin: 1rem auto;
}
main img {
  max-width: 100%;
  height: auto;
}
#wrapper a {
  color: var(--Blue);
}

/* ヘッダー */
#siteHeader {
  padding: 0.7rem 0;
  border-bottom: 1px solid red;
}
#siteHeaderInner {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: clamp(200px, 90%, 1000px);
}
#siteHeaderLogo {
  margin: auto 0;
}
#siteHeaderLogo img {
  max-width: 200px;
  vertical-align: middle;
  display: inline-block;
}
#siteHeader .keepBtn {
  margin-right: 1.1rem;
}
#siteHeader .keepBtn a {
  margin-top: 0;
  padding: 0.15rem 0.9rem;
  box-shadow: 0px 6px #0082CC;
}
#siteHeader .keepBtn a:hover {
  box-shadow: none;
}
#siteHeader .keepBtn img {
  max-height: 28px;
}
#siteHeaderLinks {
  display: flex;
}
#siteHeaderLinks ul {
  display: flex;
  margin: auto 0;
}
#siteHeaderLinks ul li+li {
  margin-left: 1rem;
}
#siteHeaderLinks ul li a {
  border-bottom: 1px solid #00ade2;
  padding: 0;
  color: #00ade2;
}

@media screen and (max-width: 767px) {
  #siteHeaderLogo img {
    width: clamp(120px, 11vw, 300px);
  }
  #siteHeaderLinks ul {
    margin: auto 0;
    font-size: 0.8rem;
  }
  #siteHeader .keepBtn {
    display: none;
  }
}

#wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.svg-inline--fa {
  margin-right: 0.5rem;
}
@media screen and (max-width: 500px) {
  .svg-inline--fa {
    margin-right: 0.2rem;
  }
}

strong, b {
  color: red;
}

/* メイン画像 */
.mainImg img {
  display: block;
  max-width: 600px;
  margin: 2rem auto 3rem;
  border-radius: 20px;
  box-shadow: 7px 7px rgba(255,0,0,1);
}

/* 仕事ヘッダー */
#jobHeader .new {
  color: red;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 1px;
  margin: 0;
}
#jobHeader h2 {
  font-size: clamp(1.3rem, 4.5vw, 2.1rem);
  line-height: 150%;
  margin: 0.4rem 0 0 0 ;
  padding: 0;
}
#jobHeader .company {
  color: red;
  font-size: clamp(1.1rem, 3vw, 1.5rem);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0.8rem 0 0 0 ;
}

/* 仕事属性タグ */
ul.jobTag {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  text-align: left;
  margin-top: clamp(1rem, 2vw, 1.5rem);
}
ul.jobTag li {
  font-size: clamp(0.7rem, 1vw, 0.8rem);
  text-decoration: none;
  margin: 0 0.5rem 0.5rem 0;
  border: 1px solid red;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  line-height: 100%;
  background: red;
  color: #fff;
}

/* 表 */
.jobDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.jobDesc ul {
  width: 49%;
  margin: 0;
}
.jobDesc ul li {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid #ddd;
  color: var(--Navy);
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  letter-spacing: 1px;
  line-height: 150%;
}
.jobDesc .head {
  color: red;
  font-weight: bold;
  width: 20%;
}
.jobDesc .cont {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .jobDesc {
    flex-direction: column;
  }
  .jobDesc ul {
    width: 100%;
  }
  .jobDesc .head {
    width: 27%;
  }
  .jobDesc .cont {
    width: 73%;
  }
}

/* 募集期限 */
.ouboLimit {
  background: #eee;
  border: 2px solid red;
  padding: 2rem 1rem 1.8rem;
  margin: 1rem auto;
  text-align: center;
}
.ouboLimit ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ouboLimit ul li {
 margin: 0;
}
.ouboLimit ul li:first-child {
  margin-right: 1.5rem;
}
.ouboLimit .desc {
  margin: 1.5rem 0 0;
}
.ouboLimit .desc p {
  margin: 0;
}
.ouboLimit .desc p:first-child {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  letter-spacing: 2px;
  font-weight:  bold;
  margin-bottom: 0.5rem;
}
.ouboLimit .desc p:first-child strong {
  font-size: clamp(1.6rem, 3vw, 2rem);  
}
.fixedButton {
  display: none;
}

@media screen and (max-width: 767px) {
  .ouboLimit {
    padding: 1.2rem 1rem 1.25rem;
  }
  .ouboLimit ul li {
    width: 100%;
  }
  .ouboLimit ul li:first-child {
    margin: 0 0 0.5rem 0;
  }
  .ouboLimit .desc {
    margin: 0.8rem 0 0;
  }
  .ouboLimit .desc p:first-child {
    letter-spacing: 1px;
    margin-bottom: 0.25rem;
  }
  .fixedButton {
    display: block;
    position: fixed;
    width:  100%;
    bottom:  0;
    left:  0;
    right: 0;
  }
  .fixedButton ul {
    width:  100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
  }
  .fixedButton li a {
    display: block;
    padding: 0.65rem 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
  .fixedButton li img {
    max-height: 30px;
  }
  .fixedButton li:first-child {
    width: 60%;
  }
  .fixedButton li:last-child {
    width: 40%;
  }
  .fixedButton li:first-child a {
    background: red;
  }
  .fixedButton li:last-child a {
    background: var(--Blue);
  }
}

/* 仕事内容 */
.jobinfo {
  letter-spacing: 1px;
}

.jobinfo h3, h4 {
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
}
.jobinfo h3 {
  font-size: clamp(1.3rem, 4.2vw, 1.7rem);
  padding: 12px 0;
  margin: 1rem 0;
  background: red;
  color: #fff;
  border-radius: 5px;
}
.jobinfo h4 {
  color: red;
  border-bottom: 1px solid red;
  padding-bottom: 5px;  
}

.jobinfoInner {
  display: flex;
}
.jobInfoInner > .txt {
  width: 100%;
}
.jobinfoInner > figure {
  width: 35%;
  max-width: 450px;
}
.jobinfoInner > figure img {
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  .jobinfoInner {
    flex-direction: column-reverse;
  }
  .jobInfoInner > .txt {
    width: 100%;
  }
  .jobinfoInner > figure {
    width: 100%;
    margin: 0 auto 2rem;
  }
}

.bigVoice {
  text-align: center;
  font-size: clamp(1.1rem, 4.5vw, 1.7rem);
  font-weight: bold;
  margin: clamp(1rem, 5vw, 3rem) 0;
  color:  red;
}

/* フッター */
#siteFooter {
  margin-top: auto;
  display: block;
  text-align: center;
  padding: 1.25rem 5%;
  background: #eee;
}
#siteFooterLogo img {
  width: clamp(150px, 2vw, 200px);
}
#siteFooter nav {
  display: inline-block;
  margin: 1.5rem auto 0;
}
#siteFooter nav ul {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;  
  margin: auto;
  text-align: center;
  font-size: 0.9rem;
}
#siteFooter nav ul li:after {
  display: inline-block;
  content: " ｜ ";
  padding: 0 0.5rem;
}
#siteFooter nav ul li:last-child:after {
  content: "";
}

@media screen and (max-width: 767px) {
  #siteFooter {
    padding: 1.25rem 0 5rem;
  }
  #siteFooter nav {
    width:  100%;
    margin: 1rem auto 0;
  }
  #siteFooter nav ul {
    text-align: left;
    background: #eee;
    font-size: 0.8rem;
  }
  #siteFooter nav ul li {
    width: 50%;
    padding: 0.8rem 0;
    border-bottom: 1px solid #ccc;
  }
  #siteFooter nav ul li:nth-child(odd) {
    padding-left: 5%;
  }
  #siteFooter nav ul li:after {
    content: "" !important;
    padding: 0 0.5rem;
  }
  #siteFooter nav ul li a {
  }
}

#siteFooter .note {
  margin-top: 2rem;
}
#siteFooter .note small {
  font-size: 0.8rem;
}